localhost/*.crt
localhost/*.key
localhost/*.packed
server/.sequelize*
tsconfig.tsbuildinfo
*.pem
*.code-workspace
logs
.DS_Store
yarn-error.log
.vscode
storybook-static
.dccache
/tmp/
screenshotsDiff/test.spec.js-snapshots   
screenshotsDiff/test-results  
